.container
  display: flex
  flex-direction: row

  .button
    font-size: 30px
    margin-left: 10px
    font-weight: 700
    outline: none
    &:hover
      opacity: .6
    &:active
      transform: scale(.9)

  .numbers
    margin: 0 0 0 10px
    line-height: 30px


@media screen and (max-width: 450px)
  .button
    font-size: 25px
    margin-left: 5px
